<h1 class="text-center">Contact Us</h1>

<form class="col-md-8 offset-md-2" method="post">
    {{#each errorMessages}}
        <div class="alert alert-danger">
            {{this.msg}}
        </div>
    {{/each}}

    <div class="form-group">
        <input id="name" class="form-control" placeholder="Your Name" name="name" value="{{name}}">
    </div>
    <div class="form-group">
        <input id="email" type="email" class="form-control" placeholder="Your Email" name="email" value="{{email}}">
    </div>
    <div class="form-group">
        <textarea id="message" class="form-control" rows="3" placeholder="Your message"
                  name="message">{{message}}</textarea>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
</form>

