<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/scripts/bootstrap/dist/css/bootstrap.min.css'/>

    <link rel='stylesheet' href='/scripts/codemirror/lib/codemirror.css'/>
    <link rel='stylesheet' href='/scripts/codemirror/theme/darcula.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script src="/scripts/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/bootstrap/dist/js/bootstrap.min.js"></script>

</head>
<body>

<div class="cover-container w-100 h-100 p-3 mx-auto d-flex flex-column">

    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Node.js real time video call</h3>

            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link {{#if home}} active {{/if}}" href="/">Home</a>
                <a class="nav-link {{#if about}} active {{/if}}" href="/about">About</a>
                <a class="nav-link {{#if contact}} active {{/if}}" href="/contact">Contact</a>
                {{#if user}}
                    <a class="nav-link" href="/logout">Logout</a>
                    <a class="nav-link">{{user.name}}</a>
                {{else}}
                    <a class="nav-link {{#if login}} active {{/if}}" href="/login">Login</a>
                    <a class="nav-link {{#if register}} active {{/if}}" href="/register">Register</a>
                {{/if}}
            </nav>
        </div>
    </header>


    <main role="main" class="inner mt-4 mb-4">
        {{{body}}}
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Created by Krzysztof Różycki</p>
        </div>
    </footer>
</div>

</body>
</html>
