<h1 class="text-center">Please Sign In</h1>

<form class="col-md-8 offset-md-2" method="post">
    {{#if message}}
        <div class="alert alert-danger">
            {{message}}
        </div>
    {{/if}}

    <div class="form-group">
        <input id="email" type="email" name="email" class="form-control" placeholder="Email" require=""
               value="{{email}}"
               autofocus="">
    </div>
    <div class="form-group">
        <input id="password" type="password" name="password" class="form-control" placeholder="Password" require="">
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign In</button>

    <br/>
    <h4 class="text-center">Or</h4>
    <br/>
    <a href="/auth/facebook" class="btn btn-lg btn-success btn-block">Sign In with Facebook</a>

</form>


