<h1 class="text-center">New Account</h1>

<form class="col-md-8 offset-md-2" method="post">
    {{#each errorMessages}}
        <div class="alert alert-danger">
            {{this.msg}}
        </div>
    {{/each}}

    <div class="form-group">
        <input id="name" class="form-control" placeholder="Your name" name="name" value="{{name}}" autofocus="">
    </div>
    <div class="form-group">
        <input id="email" type="email" class="form-control" placeholder="Email" name="email" value="{{email}}"
               autofocus="">
    </div>
    <div class="form-group">
        <input id="password" type="password" class="form-control" placeholder="Password" name="password" require="">
    </div>
    <div class="form-group">
        <input id="confirmPassword" type="password" class="form-control"
               placeholder="Confirm password" name="confirmPassword" require="">
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
</form>

