<div class="row">

    <div class="col-md-8">
        <textarea id="code-screen"></textarea>
    </div>

    <div class="col-md-4" id="chat-box">
        <div class="panel panel-primary">

            <div id="video-container">
                <video autoplay id="second-video"></video>
                <video autoplay id="my-video" muted="true"></video>
                <div id="step2">
                    <p>Your ID: <span id="my-id">...</span></p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Call User ID..." id="callto-id">
                        <span class="input-group-btn">
                          <button id="make-call" type="button" class="btn btn-primary">CALL</button>
                        </span>
                    </div>
                </div>
                <div id="step3" class="mt-3">
                    <p>Talk to <span id="second-id">...</span>
                        <a href="#" class="btn btn-sm btn-danger" id="end-call">End call</a>
                    </p>
                </div>
            </div>

            <div class="panel-heading mt-3">
                <span>CHAT ROOM</span>
                <span class="pull-right" id="chat-box-username">
                    {{#if user}}
                        {{user.name}}
                    {{/if}}
                </span>
            </div>
            <div class="panel-body">
                <ul id="chat-box-listMessages" class="list-group">
                </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter message" id="user-message"/>
                    <span class="input-group-btn">
                          <button type="button" class="btn btn-primary" onclick="sendMessage()">SEND</button>
                    </span>
                </div>
            </div>
        </div>

    </div>

</div>

<input type="hidden" value="{{roomId}}" id="room-id"/>

<script src="/scripts/codemirror/lib/codemirror.js"></script>
<script src="/scripts/codemirror/mode/javascript/javascript.js"></script>
<script src="/plugins/ot/ot.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
<script src="/javascript/peerjs.min.js"></script>
<script src="/js/peerjs.js"></script>

