/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

html,
body {
    min-height: 100%;
    background-color: #333;
}

.cover-container {
    /*background-color: #333;*/
    /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

main {
    /*padding: 40px 0;*/
}

.cover-container {
    max-width: 78em;
}

/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}

/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

a {
    color: #00B7FF;
}

#chat-box-listMessages {
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    margin: 10px 0;
}

.CodeMirror {
    height: 600px
}

#code-screen {
    text-align: left !important;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#my-video,
#second-video {
    background-color: #eee;
    width: 100%;
    border-radius: 10px;
}

#my-video {
    margin: 15px 0 10px;
    height: auto;
}

#second-video {
    height: 75%;
    max-height: 480px;
}

#video-container {
    text-align: center;
}

#step1-error, #step2, #step3 {
    display: none;
}

#my-id {
    font-weight: bold;
}

#chat-box-listMessages {
    height: 300px;
    overflow-y: auto;
}

footer {
    align-self: end;
}

.cover-container {
    min-height: 100vh;
}
